:root {
    --first-color: #212121;
    --second-color: #2196f3;
    --paragraph-color: #757575;
    --logo-footer-color: #ffffff;
    --color-footer: rgba(100%, 100%, 100%, 60%);
    --background-color: #2F303A;
}
/*цвет Веб Студио*/
.logo-second-color{
    color: var(--second-color);
}
.logo-first-color{
    color: var(--first-color)
}
.logo-footer-color{
    color: var(--logo-footer-color)
}
/*цвет страницы*/
body {
    font-family: "Relaway", sans-serif;
    background-color: #ffffff;}
/*Убраны точк*/
li{
    list-style: none;
}
/*убраны подчеркивания*/
a {
    text-decoration: none;
}
/*цвет нижней полосы*/
footer{
    background-color: var(--background-color);
}
/*навигация*/
.main{
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left; 
}
.menu {
    font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: left;
    color: var(--first-color);
}
.menu-current {
    font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: left;
    color: var(--first-color);
}
.menu:hover,
.menu:focus{
    color: var(--second-color);
}
.menu-current{
    color: var(--second-color);
}
/*контакты*/
.contacts{
    color: var(--paragraph-color);
}
.contacts:hover,
.contacts:focus{
    color: var(--second-color);
}
/*фильтры*/
.filters{
    color: var(--first-color);
}
.filters:hover,
.filters:focus{
    color: var(--logo-footer-color);
    background-color: var(--second-color);
}
.filters {
    cursor: pointer;
}
/*адрес в footer*/
.address{
    text-decoration: none;
}
.address-one:focus,
.address-two:hover,
.address-two:focus,
.address-three:hover,
.address-three:focus{
    color: var(--second-color) ;
}

.address-one{
    font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
    color: var(--logo-footer-color)
}
.address-two{
    font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
    color: var(--color-footer)
}
.address-three{
    font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
    color: var(--color-footer)
}
/*главнаое название*/
.services-one{
    background-color: var(--background-color);
}
.services{
    font-family: 'Raleway', sans-serif;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
color: var(--logo-footer-color);
}
/*кнопка*/
.services-button{
      font-weight: 700px;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
color: var(--logo-footer-color);
background-color: var(--second-color)
}
.services-button {
    cursor: pointer;
}
/*особенности*/
.special-title {
    font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: left;
color: var(--first-color);
}
.special-p {
    font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--paragraph-color);
}
/*Чем мы занимемся*/
.wwhat-did-we-do{
    height: 294px;
width: 370px;
left: 215px;
top: 1061px;
border-radius: 0px;
}
/*команда*/
.our-team{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
}
.name-team{
    font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;
}
.about-team{
    font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;

}

/*портфолио*/
.portfolio-name {
    font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
}
.portfolio-text {
    font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.9;
letter-spacing: 0.03em;
text-align: left;
}
