/*цвет страницы*/
body {
    font-family: "Roboto", sans-serif;
  }
/*Убраны точк*/
li {
    list-style: none;
}
/*убраны подчеркивания*/
a {
    text-decoration: none;
}
/*цвет нижней полосы*/
footer{
    background-color: #2F303A;
}
/*навигация*/
.main{
    font-family: 'Raleway', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;

font-family: Oleo Script;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.03em;
text-align: left;
}
.menu {
    color: #212121;
}
.menu:hover,
.menu:focus{
    color: #2196F3;
}
/*контакты*/
.contacts{
    color: #757575;
}
.contacts:hover,
.contacts:focus{
    color: #2196F3;
}
/*фильтры*/
.filters{
    color: #212121;
}
.filters:hover,
.filters:focus{
    color: #ffffff;
    background-color: #2196F3;
}
.filters {
    cursor: pointer;
}
/*адрес в footer*/
.address{
    text-decoration: none;
}
.address-one:hover,
.address-one:focus,
.address-two:hover,
.address-two:focus,
.address-three:hover,
.address-three:focus{
    color:#2196F3 ;
}

.address-one{
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
    color: #ffffff

}
.address-two{
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
    color: rgba(100%, 100%, 100%, 60%)
}
.address-three{
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
    color: rgba(100%, 100%, 100%, 60%)
}
/*главнаое название*/
.services-one{
    background-color: #2F303A;
}
.services{
    font-family: 'Raleway', sans-serif;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
color: #FFFFFF;

}
/*кнопка*/
.services-button{
    font-family: 'Raleway', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
color: #ffffff;
background-color: #2196F3
}
.services-button {
    cursor: pointer;
}
/*особенности*/
.special-title-one {
    font-family: 'Raleway', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
}
.special-p-one{
    font-family: 'Raleway', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}
.special-title-two{
    font-family: 'Raleway', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
}
.special-p-two{
    font-family: 'Raleway', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}
.special-title-three{
    font-family: 'Raleway', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
}
.special-p-three{
    font-family: 'Raleway', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}
.special-title-four{
    font-family: 'Raleway', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
}
.special-p-four{
    font-family: 'Raleway', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}
/*Чем мы занимемся*/
.what-did-we-do{
    font-family: 'Raleway', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}
/*команда*/
.our-team{
    font-family: 'Raleway', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}
.p-designer{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
        
}
.p-designer-one{
    font-family: 'Raleway', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}
.f-developer{
    font-family: 'Raleway', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;   
}
.f-developer-two{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;       
}
.marketing{
    font-family: 'Raleway', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;   
}
.marketing-three{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;      
}
.ui-designer{
    font-family: 'Raleway', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;   
}
.ui-designer-four{
    font-family: 'Raleway', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}
/*портфолио*/
.tehnokrik-one {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.tehokrik-two {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
.poster-one {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.poster-two {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
.restaurant-one {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.restaurant-two {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
.prime-one {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.prime-two {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
.boxes-one {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.boxes-two {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
.inspiration-one {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.inspiration-two {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
.limited-one {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.limited-two {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
.lab-one {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.lab-two {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
.growing-one {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.growing-two {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
